html, body {
  margin: 0;         /* Remove default margin */
  padding: 0;        /* Remove default padding */
  height: 100%;      /* Ensure body takes full height of the viewport */
  width: 100%;       /* Ensure body takes full width */
  font-size: 95%;
}

#root {
  width: 100%;  /* Make sure #root takes up the full width of the container */
  height: 100%; /* Full height of the viewport */
}

.layout-container {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  width: 100%;  /* Make sure #root takes up the full width of the container */
  height: 100%; /* Full height of the viewport */
  /*animation: textShadow 1.6s infinite;*/
}


.left-col {
  display: flex;
  flex-direction: column;
  flex: 1;  /* Takes 1 part of the available space */
  min-width: 0;  /* Prevent shrinking */
  height: 100%;
  align-items: center;
  gap: 3%
}

.right-col {
  display: flex;
  flex-direction: column;  /* Stacks content inside the right column */
  flex: 4;
  height: 95%;
  border: 2px solid #a0a840;
  border-radius: 25px;
  margin-top: 1.2%;
  margin-right: 3%;
  margin-bottom: 6%;
  background-color: #a0a840;
  overflow: hidden; /* Prevents content from spilling outside */
  min-width: 0; /* Allows flex items to shrink below their minimum content size */
}

nav :nth-child(1) {
  border-top-left-radius: 25px;
}

nav :nth-child(5) {
  border-top-right-radius: 25px;
}

.content-area {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-width: 0; /* Allows flex children to properly shrink */
  overflow: hidden; /* Contains any potential overflow */
}

.display-screen {
  border-radius: 25px;
  flex: 3;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  background-color: #405010;
  overflow: auto; 
  overflow-wrap: break-word;
}

.display-screen::-webkit-scrollbar {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 10px;
}

.display-screen::-webkit-scrollbar-track {
  margin-top: 25px;
  margin-bottom: 25px;
  background: #405010;  /* Color of the track (the area behind the scrollbar) */
  border-radius: 3px;
}

.display-screen::-webkit-scrollbar-thumb {
  background: #708028;  /* Color of the scrollbar handle */
  border-radius: 3px;
}

.display-screen::-webkit-scrollbar-thumb:hover {
  background: #809038;  /* Color when hovering over the scrollbar */
}

.display-screen::after {
  content: '';
  position: absolute;
  top: 8.1%;
  bottom: 0;
  left: 74.4%; /* Position the line in the middle of the container */
  width: 2px;
  background-color: #405010; /* Color of the vertical line */
}

img {
  display: block;
  margin: auto;
  object-fit: cover;
}

.icon {
  border: 2px solid #708028;
  border-radius: 25px;
  flex: 1;
  width: 75%;
  margin-top: 6%;
  background-color: #708028;
  
  display: flex;      /* Enables centering */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  
}

.icon img {
  object-fit: cover;
  width: 90%;
}

.today-info {
  border: 2px solid #708028;
  border-radius: 25px;
  padding: 10px;
  margin-top: 3%;
  margin-right: 3%;
  margin-left: 3%;
  margin-bottom: 3%;
  flex: 1;
  background-color: #405010;
}

.spotify {
  border: 2px solid #708028;
  border-radius: 25px;
  background-color: #708028;
  flex: 2;
  width: 75%;
  margin-bottom: 5%;
}

.button {
  background-color: #708028; /* Green */
  border: 1px solid #405010;
  color: #d0d058;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Press Start 2P';
  flex: 1;
  text-shadow: inherit;

}

.round-button {
  border-radius: 25px;
  display: block;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #683a68);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #683a68);
}

body {
  font-family: 'Press Start 2P';
}

nav {
  display: flex;
}

p, a {
  color: #d0d058;
  margin-left: 5%;
  margin-right: 5%;
}

li {
  color: #d0d058;
  margin-left: 5%;
  margin-right: 5%;
}


hr {
  border: none;
  height: 1px;
  background: transparent;
  background-image: linear-gradient(to right, #d0d058 50%, transparent 50%);
  background-size: 20px 1px; /* Increase the 30px to make the dashes longer */
  width: 95%;
  margin: 2% auto;
}

h1 {
  color: #d0d058;
  line-height: 0;
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  color: #d0d058;
  line-height: 0;
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  color: #d0d058;
  margin-top: 5%;
  line-height: 1.2;
  margin-left: 5%;
  margin-right: 5%;
}

@keyframes flicker {
  0% {
    opacity: 0.27861;
  }
  5% {
    opacity: 0.34769;
  }
  10% {
    opacity: 0.23604;
  }
  15% {
    opacity: 0.90626;
  }
  20% {
    opacity: 0.18128;
  }
  25% {
    opacity: 0.83891;
  }
  30% {
    opacity: 0.65583;
  }
  35% {
    opacity: 0.67807;
  }
  40% {
    opacity: 0.26559;
  }
  45% {
    opacity: 0.84693;
  }
  50% {
    opacity: 0.96019;
  }
  55% {
    opacity: 0.08594;
  }
  60% {
    opacity: 0.20313;
  }
  65% {
    opacity: 0.71988;
  }
  70% {
    opacity: 0.53455;
  }
  75% {
    opacity: 0.37288;
  }
  80% {
    opacity: 0.71428;
  }
  85% {
    opacity: 0.70419;
  }
  90% {
    opacity: 0.7003;
  }
  95% {
    opacity: 0.36108;
  }
  100% {
    opacity: 0.24387;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
  }
}
.layout-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  animation: flicker 0.15s infinite;
}
.layout-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}